<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title></title>
		<style>
			body {
				display: grid;
				grid-template-columns: repeat( auto-fill, minmax(10em, 1fr) );
				grid-gap: 1em;
				overflow-y: scroll;
				padding: .5em;
			}
			.island {
				font-family: monospace;
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 4em;
				border: 2px solid rgba(60, 60, 60, .6);
			}
			is-land[ready] {
				background-color: lightgreen;
				border-color: darkgreen;
			}
		</style>
		<script type="module" src="/is-land.js"></script>
		<script type="module">
		customElements.define("slide-scroller", class extends HTMLElement {
			connectedCallback() {
				console.log( "<slide-scroller> connectedCallback" );
			}
		});
		</script>
	</head>
	<body>
{% comment %}Liquid.js was having trouble with such a large loop!{% endcomment %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<slide-scroller>&lt;is-land&gt; #{{i}}</slide-scroller>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<slide-scroller>&lt;is-land&gt; #{{i | plus: 2000}}</slide-scroller>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<slide-scroller>&lt;is-land&gt; #{{i | plus: 4000}}</slide-scroller>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<slide-scroller>&lt;is-land&gt; #{{i | plus: 6000}}</slide-scroller>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<slide-scroller>&lt;is-land&gt; #{{i | plus: 8000}}</slide-scroller>
	</is-land>
{% endfor %}
	</body>
</html>