<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/demo-styles.css">

{% if showImportMaps %}
		<!-- via https://generator.jspm.io/ -->
		<script type="importmap">
		{
			"imports": {
				"petite-vue": "https://unpkg.com/petite-vue@0.4.1/dist/petite-vue.es.js",
				"vue": "https://unpkg.com/vue@3.2.36/dist/vue.esm-browser.prod.js",
				"svelte": "https://unpkg.com/svelte@5.19.10/src/index-client.js",
				"svelte/internal/client": "https://unpkg.com/svelte@5.19.10/src/internal/client/index.js",
				"svelte/internal/flags/legacy": "https://unpkg.com/svelte@5.19.10/src/internal/flags/legacy.js"
			},
			"scopes": {
				"https://unpkg.com/": {
					"clsx": "https://unpkg.com/clsx@2.1.1/dist/clsx.mjs",
					"esm-env": "https://unpkg.com/esm-env@1.2.2/index.js",
					"esm-env/browser": "https://unpkg.com/esm-env@1.2.2/true.js",
					"esm-env/development": "https://unpkg.com/esm-env@1.2.2/false.js",
					"esm-env/node": "https://unpkg.com/esm-env@1.2.2/false.js"
				}
			}
		}
		</script>
{% endif %}

{% if showPageCss %}
		<style>
		{{ page.url | getSvelteCss }}
		</style>
{% endif %}


{% if showImagePlugin %}
		<!-- experimental: fallback extension (probably don’t use this) -->
		<script type="module" src="/is-land-image.js"></script>
{% endif %}

		<!-- Script tag method: -->
		<!--
		<script type="module" src="/is-land.js"></script>
		<script type="module" src="/is-land-autoinit.js"></script>
		-->

		<!-- Import method: -->
		<script type="module">
		import { Island } from "/is-land.js";
		import "/is-land-autoinit.js";
		</script>

		<!--
		You can directly import dependencies (for eager loading)
		or for lazy loaded islands put dependencies into `import="./lib/vanilla-web-component.js"`
		Look inside this file for a commented-out example of using this programmatically in your component code
		-->
		<script type="module" src="/lib/vanilla-web-component.js"></script>

	</head>
	<body>
		{{ content }}
	</body>
</html>