<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title></title>
		<link rel="stylesheet" href="demo-stress-test-styles.css">
		<script type="module" src="/is-land.js"></script>
		<script type="module">
		customElements.define("test-element", class extends HTMLElement {
			connectedCallback() {
				console.log( "<test-element> connectedCallback" );
			}
		});
		</script>
	</head>
	<body>
{% comment %}Liquid.js was having trouble with such a large loop!{% endcomment %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<test-element>&lt;test-element&gt; #{{i}}</test-element>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<test-element>&lt;test-element&gt; #{{i | plus: 2000}}</test-element>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<test-element>&lt;test-element&gt; #{{i | plus: 4000}}</test-element>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<test-element>&lt;test-element&gt; #{{i | plus: 6000}}</test-element>
	</is-land>
{% endfor %}
{% for i in (1..2000) %}
	<is-land on:visible on:idle class="island">
		<test-element>&lt;test-element&gt; #{{i | plus: 8000}}</test-element>
	</is-land>
{% endfor %}
	</body>
</html>